* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}
/* Common */
a {
    text-decoration: none;
}
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 999px;
    background: #171100;
}
.btn:hover {
    opacity: 0.9;
}
/* Header */

.header.fixed {
    position: sticky;
    top: -28px;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.header .sign-up-btn {
    min-width: 114px;
}
.header .action {
    margin-left: 49px;
}
.nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
}
.nav a {
    color: #5f5b53;
    font-size: 1.6rem;
    padding: 8px 21px;
    position: relative;
}
.nav a:hover,
.nav .active a {
    color: #171100;
    font-size: 1.6rem;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
}
.nav .active a::after {
    content: "";
    left: 21px;
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    position: absolute;
    bottom: 6px;
}
/* hero */
.hero {
    padding: 56px;
    background: #fffcf4;
}
.hero .body {
    display: flex;
}
/* hero-left */
.hero .media-block {
    width: 48%;
    position: relative;
}
.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    width: 270px;
    padding: 28px 24px;
}
.hero-summary .item {
    display: flex;
}
.hero-summary .item + .item {
    margin-top: 22px;
}
.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff9e8;
}
.hero-summary .item:nth-last-of-type(2) .icon {
    background: #fcefff;
}
.hero-summary .item:nth-child(3) .icon {
    background: #ebeaff;
}
.hero-summary .info {
    margin-left: 16px;
}
.hero-summary .label {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}
.hero-summary .title {
    color: #171100;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.67;
}
/* hero-right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}
.hero .heading {
    color: #171100;
    font-size: 5.8rem;
    font-family: var(--font-heading);
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -0.02em;
}
.hero .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}
.hero .cta-group {
    margin-top: 38px;
    display: flex;
    align-items: ;
}
.hero .hero-cta {
    background: var(--primary-color);
    line-height: 64px;
    min-width: 180px;
}
.hero .watch-video{
    display: flex;
}
